<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.5 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="INESC-ID's Software Engineering Group page at GitHub" />
	<meta name="keywords" content="ESW, Software Engineering" />
	<meta name="author" content="ESW" />
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/empty.css" title="INESC-ID ESW" media="all" />
	<title>INESC-ID's Software Engineering Group page at GitHub</title>
    </head>

    <body>
        {{ content }}
    </body>
</html>

<!-- Local Variables: -->
<!-- mode: nxml -->
<!-- End: -->
